<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.datasources.mapper.WaterfallQualityCheckPlanMapper">
  <resultMap id="BaseResultMap" type="org.jeecg.modules.datasources.model.WaterfallQualityCheckPlan">
    <!--@mbg.generated-->
    <!--@Table waterfall_quality_check_plan-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="plan_name" jdbcType="VARCHAR" property="planName" />
    <result column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="plan_cycle" jdbcType="VARCHAR" property="planCycle" />
    <result column="run_flag" jdbcType="BOOLEAN" property="runFlag" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, plan_name, model_id, plan_cycle, run_flag, del_flag, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from waterfall_quality_check_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from waterfall_quality_check_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.jeecg.modules.datasources.model.WaterfallQualityCheckPlan" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into waterfall_quality_check_plan (plan_name, model_id, plan_cycle, 
      run_flag, del_flag, create_time, 
      update_time)
    values (#{planName,jdbcType=VARCHAR}, #{modelId,jdbcType=INTEGER}, #{planCycle,jdbcType=VARCHAR}, 
      #{runFlag,jdbcType=BOOLEAN}, #{delFlag,jdbcType=BOOLEAN}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.jeecg.modules.datasources.model.WaterfallQualityCheckPlan" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into waterfall_quality_check_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="planName != null">
        plan_name,
      </if>
      <if test="modelId != null">
        model_id,
      </if>
      <if test="planCycle != null">
        plan_cycle,
      </if>
      <if test="runFlag != null">
        run_flag,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="planName != null">
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="planCycle != null">
        #{planCycle,jdbcType=VARCHAR},
      </if>
      <if test="runFlag != null">
        #{runFlag,jdbcType=BOOLEAN},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BOOLEAN},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.jeecg.modules.datasources.model.WaterfallQualityCheckPlan">
    <!--@mbg.generated-->
    update waterfall_quality_check_plan
    <set>
      <if test="planName != null">
        plan_name = #{planName,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="planCycle != null">
        plan_cycle = #{planCycle,jdbcType=VARCHAR},
      </if>
      <if test="runFlag != null">
        run_flag = #{runFlag,jdbcType=BOOLEAN},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=BOOLEAN},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jeecg.modules.datasources.model.WaterfallQualityCheckPlan">
    <!--@mbg.generated-->
    update waterfall_quality_check_plan
    set plan_name = #{planName,jdbcType=VARCHAR},
      model_id = #{modelId,jdbcType=INTEGER},
      plan_cycle = #{planCycle,jdbcType=VARCHAR},
      run_flag = #{runFlag,jdbcType=BOOLEAN},
      del_flag = #{delFlag,jdbcType=BOOLEAN},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>