<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.datasources.mapper.WaterfallModelFieldMapper">
  <resultMap id="BaseResultMap" type="org.jeecg.modules.datasources.model.WaterfallModelField">
    <!--@mbg.generated-->
    <!--@Table waterfall_model_field-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="field_type_id" jdbcType="INTEGER" property="fieldTypeId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="metadata_id" jdbcType="INTEGER" property="metadataId" />
    <result column="primarykey_flag" jdbcType="BOOLEAN" property="primarykeyFlag" />
    <result column="empty_flag" jdbcType="BOOLEAN" property="emptyFlag" />
    <result column="length" jdbcType="INTEGER" property="length" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="field_sort" jdbcType="INTEGER" property="fieldSort" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, model_id, field_name, field_type_id, remark, metadata_id, primarykey_flag, empty_flag, 
    `length`, create_time, update_time, field_sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from waterfall_model_field
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from waterfall_model_field
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.jeecg.modules.datasources.model.WaterfallModelField">
    <!--@mbg.generated-->
    insert into waterfall_model_field (id, model_id, field_name, 
      field_type_id, remark, metadata_id, 
      primarykey_flag, empty_flag, `length`, 
      create_time, update_time, field_sort
      )
    values (#{id,jdbcType=INTEGER}, #{modelId,jdbcType=INTEGER}, #{fieldName,jdbcType=VARCHAR}, 
      #{fieldTypeId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{metadataId,jdbcType=INTEGER}, 
      #{primarykeyFlag,jdbcType=BOOLEAN}, #{emptyFlag,jdbcType=BOOLEAN}, #{length,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{fieldSort,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.jeecg.modules.datasources.model.WaterfallModelField">
    <!--@mbg.generated-->
    insert into waterfall_model_field
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="modelId != null">
        model_id,
      </if>
      <if test="fieldName != null">
        field_name,
      </if>
      <if test="fieldTypeId != null">
        field_type_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="metadataId != null">
        metadata_id,
      </if>
      <if test="primarykeyFlag != null">
        primarykey_flag,
      </if>
      <if test="emptyFlag != null">
        empty_flag,
      </if>
      <if test="length != null">
        `length`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="fieldSort != null">
        field_sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="fieldName != null">
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldTypeId != null">
        #{fieldTypeId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="metadataId != null">
        #{metadataId,jdbcType=INTEGER},
      </if>
      <if test="primarykeyFlag != null">
        #{primarykeyFlag,jdbcType=BOOLEAN},
      </if>
      <if test="emptyFlag != null">
        #{emptyFlag,jdbcType=BOOLEAN},
      </if>
      <if test="length != null">
        #{length,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fieldSort != null">
        #{fieldSort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.jeecg.modules.datasources.model.WaterfallModelField">
    <!--@mbg.generated-->
    update waterfall_model_field
    <set>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="fieldName != null">
        field_name = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldTypeId != null">
        field_type_id = #{fieldTypeId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="metadataId != null">
        metadata_id = #{metadataId,jdbcType=INTEGER},
      </if>
      <if test="primarykeyFlag != null">
        primarykey_flag = #{primarykeyFlag,jdbcType=BOOLEAN},
      </if>
      <if test="emptyFlag != null">
        empty_flag = #{emptyFlag,jdbcType=BOOLEAN},
      </if>
      <if test="length != null">
        `length` = #{length,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fieldSort != null">
        field_sort = #{fieldSort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jeecg.modules.datasources.model.WaterfallModelField">
    <!--@mbg.generated-->
    update waterfall_model_field
    set model_id = #{modelId,jdbcType=INTEGER},
      field_name = #{fieldName,jdbcType=VARCHAR},
      field_type_id = #{fieldTypeId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      metadata_id = #{metadataId,jdbcType=INTEGER},
      primarykey_flag = #{primarykeyFlag,jdbcType=BOOLEAN},
      empty_flag = #{emptyFlag,jdbcType=BOOLEAN},
      `length` = #{length,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      field_sort = #{fieldSort,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>