<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.datasources.mapper.WaterfallOfflineTaskMapper">
  <resultMap id="BaseResultMap" type="org.jeecg.modules.datasources.model.WaterfallOfflineTask">
    <!--@mbg.generated-->
    <!--@Table waterfall_offline_task-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="task_execute_params" jdbcType="LONGVARCHAR" property="taskExecuteParams" />
    <result column="task_corn" jdbcType="VARCHAR" property="taskCorn" />
    <result column="task_execute_time" jdbcType="TIMESTAMP" property="taskExecuteTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="mapping_columns" jdbcType="LONGVARCHAR" property="mappingColumns" />
    <result column="collection_type" jdbcType="INTEGER" property="collectionType" />
    <result column="original_id" jdbcType="INTEGER" property="originalId" />
    <result column="original_table" jdbcType="VARCHAR" property="originalTable" />
    <result column="target_id" jdbcType="INTEGER" property="targetId" />
    <result column="target_table" jdbcType="VARCHAR" property="targetTable" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, task_name, `desc`, task_execute_params, task_corn, task_execute_time, create_time, 
    update_time, mapping_columns, collection_type, original_id, original_table, target_id, 
    target_table
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from waterfall_offline_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from waterfall_offline_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.jeecg.modules.datasources.model.WaterfallOfflineTask" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into waterfall_offline_task (task_name, `desc`, task_execute_params, 
      task_corn, task_execute_time, create_time, 
      update_time, mapping_columns, collection_type, 
      original_id, original_table, target_id, 
      target_table)
    values (#{taskName,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{taskExecuteParams,jdbcType=LONGVARCHAR}, 
      #{taskCorn,jdbcType=VARCHAR}, #{taskExecuteTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{mappingColumns,jdbcType=LONGVARCHAR}, #{collectionType,jdbcType=INTEGER}, 
      #{originalId,jdbcType=INTEGER}, #{originalTable,jdbcType=VARCHAR}, #{targetId,jdbcType=INTEGER}, 
      #{targetTable,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.jeecg.modules.datasources.model.WaterfallOfflineTask" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into waterfall_offline_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskName != null">
        task_name,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
      <if test="taskExecuteParams != null">
        task_execute_params,
      </if>
      <if test="taskCorn != null">
        task_corn,
      </if>
      <if test="taskExecuteTime != null">
        task_execute_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="mappingColumns != null">
        mapping_columns,
      </if>
      <if test="collectionType != null">
        collection_type,
      </if>
      <if test="originalId != null">
        original_id,
      </if>
      <if test="originalTable != null">
        original_table,
      </if>
      <if test="targetId != null">
        target_id,
      </if>
      <if test="targetTable != null">
        target_table,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="taskExecuteParams != null">
        #{taskExecuteParams,jdbcType=LONGVARCHAR},
      </if>
      <if test="taskCorn != null">
        #{taskCorn,jdbcType=VARCHAR},
      </if>
      <if test="taskExecuteTime != null">
        #{taskExecuteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mappingColumns != null">
        #{mappingColumns,jdbcType=LONGVARCHAR},
      </if>
      <if test="collectionType != null">
        #{collectionType,jdbcType=INTEGER},
      </if>
      <if test="originalId != null">
        #{originalId,jdbcType=INTEGER},
      </if>
      <if test="originalTable != null">
        #{originalTable,jdbcType=VARCHAR},
      </if>
      <if test="targetId != null">
        #{targetId,jdbcType=INTEGER},
      </if>
      <if test="targetTable != null">
        #{targetTable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.jeecg.modules.datasources.model.WaterfallOfflineTask">
    <!--@mbg.generated-->
    update waterfall_offline_task
    <set>
      <if test="taskName != null">
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="taskExecuteParams != null">
        task_execute_params = #{taskExecuteParams,jdbcType=LONGVARCHAR},
      </if>
      <if test="taskCorn != null">
        task_corn = #{taskCorn,jdbcType=VARCHAR},
      </if>
      <if test="taskExecuteTime != null">
        task_execute_time = #{taskExecuteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mappingColumns != null">
        mapping_columns = #{mappingColumns,jdbcType=LONGVARCHAR},
      </if>
      <if test="collectionType != null">
        collection_type = #{collectionType,jdbcType=INTEGER},
      </if>
      <if test="originalId != null">
        original_id = #{originalId,jdbcType=INTEGER},
      </if>
      <if test="originalTable != null">
        original_table = #{originalTable,jdbcType=VARCHAR},
      </if>
      <if test="targetId != null">
        target_id = #{targetId,jdbcType=INTEGER},
      </if>
      <if test="targetTable != null">
        target_table = #{targetTable,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jeecg.modules.datasources.model.WaterfallOfflineTask">
    <!--@mbg.generated-->
    update waterfall_offline_task
    set task_name = #{taskName,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=VARCHAR},
      task_execute_params = #{taskExecuteParams,jdbcType=LONGVARCHAR},
      task_corn = #{taskCorn,jdbcType=VARCHAR},
      task_execute_time = #{taskExecuteTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      mapping_columns = #{mappingColumns,jdbcType=LONGVARCHAR},
      collection_type = #{collectionType,jdbcType=INTEGER},
      original_id = #{originalId,jdbcType=INTEGER},
      original_table = #{originalTable,jdbcType=VARCHAR},
      target_id = #{targetId,jdbcType=INTEGER},
      target_table = #{targetTable,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>